@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f5f5;
}

label {
  font-size: 14px;
}

input[type='radio'],
input[type='checkbox'] {
  margin-right: 10px;
  width: 12px;
}

legend {
  margin-bottom: 5px;
}
